# User Credentials
USER_LOGIN=
USER_PASSWORD=

# MongoDB Configuration
ME_CONFIG_MONGODB_SERVER=
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=

# Backend Configuration
PORT=
SECRET_KEY=
ENVIRONMENT=
MONGO_URI_LOCAL=

# Application URLs
SALES_PORTAL_URL=
API_BASE_URL=

# Container Names
MONGO_CONTAINER_NAME=
MONGO_EXPRESS_CONTAINER_NAME=
BACKEND_CONTAINER_NAME=
FRONTEND_CONTAINER_NAME=

# Port Mappings
MONGO_PORT=
MONGO_EXPRESS_PORT=
BACKEND_PORT=
FRONTEND_PORT=

# Image Versions
MONGO_IMAGE_VERSION=
